<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Devshop24</title>

        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <%- include('partials/nav'); %>
        
        <%- include('partials/home/header'); %>

        <%- include('partials/home/services'); %>

        <%- include('partials/home/portfolio'); %>

        <%- include('partials/home/contact'); %>
    </body>
</html>